body { /* Change the font for the full page */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* Style the links in NAV to make them block and vertical */
nav a{
    display: block; /* Makes the Links block elements */
    padding: 10px; /* Adds padding inside the links */
    color: white; /* Changes text color */
    background-color: rgb(101, 101, 102); /* Sets the background color */
    text-decoration:none; /* Removes the underline */
    margin-bottom: 5px; /* Adds space between links */
}

nav a:hover {
    background-color: darkblue;

}

/* Add margin, padding, and border to DIV tags in MAIN */
main div {
    margin: 15px 0; /* Adds space between divs */
    padding: 10px; /* Adds space inside the div */
    border: 3px solid gray; /* Adds a gray border */
    background-color:floralwhite; /* Optional: Light background for better visibility */
}