body{
    font-family: Arial, Helvetica, sans-serif
}

.schedule {
    margin: 5px auto;
    border: thin solid black;
    border-spacing: 5;
    border-collapse: collapse;
}

.schedule td, .schedule th {
    border: thin solid black;
    padding: 5px;
}

.schedule thead {
    background-color: darkblue;
    color: white;
}

.schedule tbody tr:nth-child(even){
    background-color: lightgray;
    color: white;
}

.schedule tfoot {
    background-color: darkblue;
    color: white;
}
