body {
    background-image: url('galaxy.jpg'); /* Replace with your image path */
    background-size: cover; /* Makes the image cover the entire screen */
    background-position: center;


    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff; /* Set all text to white */
}

h1, h2, h3, h4, h5, h6, p, a, span, li, div {
    color: #ffffff; /* Make sure all headings, paragraphs, links, and other text elements are white */
}

.btn {
    display: block;
    padding: 10px;
    color: aquamarine;
    background-color: blue;
    width: 110px;
    text-align: center;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
}

.btn:hover {
    background-color: lightblue;
}

#byuhcampus{
    width: 350px;
    margin: 30px 50px;
    border: thin solid black;
    box-shadow: 5px 5px 3px rgba(200, 200, 200, 50%);
    transform: rotate(8deg);
}

#byuhcampus img {
    width: 100%;
}

