body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: rgb(16, 118, 185);
    color: #fff;
}

header h1 {
    margin: 0;
}

nav {
    background-color: rgb(10, 6, 1);
    display: flex;0
    justify-content: space-around;
}

nav a {
    display: block;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    background-color: #ccc;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    /* width: 200px; */
    /* overflow: hidden; */
    border: medium solid black;
    box-shadow: 3px 3px 5px rgba(50, 50, 50, 50%);
    margin: 5px;
}

.card img {
    /* width: 500px; */
    width: 100%;
    border-radius: 5%;
}

